* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

html {
  font-size: 20px;
  scroll-behavior: smooth; }

body {
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  background-color: #e5e5e5;
  overflow-x: hidden; }

a,
button,
input,
textarea {
  outline: none;
  text-decoration: none;
  border-width: 0;
  color: inherit; }

ul {
  padding: 0;
  list-style-type: none; }

.section-wrapper {
  max-width: 1146px;
  margin: 0 auto; }

.header {
  position: relative;
  height: 100vh;
  padding: 0 20px;
  border-radius: 0 0 0 200px;
  background-color: #008aff;
  color: #fff; }
  @media (max-width: 1024px) {
    .header {
      height: 100%; } }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 49px; }
    @media (max-width: 1024px) {
      .header__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .header__item {
    position: relative;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
    .header__item::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      border-radius: 4px;
      background-color: #ff9c8e;
      opacity: 0;
      -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
      transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out; }
    .header__item:hover::after, .header__item:focus::after {
      bottom: -8px;
      opacity: 1; }
    @media (max-width: 1024px) {
      .header__item {
        font-size: 1.25rem;
        padding-top: 20px; } }
  .header__content {
    margin-top: 168px;
    width: 490px; }
    @media (max-width: 1024px) {
      .header__content {
        margin: 168px auto;
        padding: 20px 0;
        text-align: center; } }
  .header__heading {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: -2px; }
    @media (max-width: 1024px) {
      .header__heading {
        font-size: 3.5rem; } }
  .header__text {
    margin-top: 32px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 0.9rem; }
    @media (max-width: 1024px) {
      .header__text {
        margin-top: 45px;
        font-size: 1.2rem; } }
  .header__button {
    margin-top: 56px; }
    @media (max-width: 1024px) {
      .header__button {
        font-size: 1.2rem; } }

.button {
  width: 226px;
  border: none;
  border-radius: 64px;
  background-color: #ff9c8e;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 50px;
  cursor: pointer; }
  .button:hover, .button:focus {
    background-color: #ff6f5b; }
  @media (max-width: 1024px) {
    .button {
      width: 300px;
      font-size: 1.2rem;
      line-height: 70px; } }

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1024px) {
    .nav__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.nav__logo {
  margin-right: 64px; }
  @media (max-width: 1024px) {
    .nav__logo_top {
      margin: 20px 0 0;
      padding-bottom: 20px;
      -webkit-transform: scale(2);
              transform: scale(2); } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none; }

.nav__item:not(:last-child) {
  margin-right: 64px; }

.nav__link {
  position: relative;
  outline: none;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  cursor: pointer; }
  .nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    border-radius: 4px;
    background-color: #ff9c8e;
    opacity: 0;
    -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out; }
  .nav__link:hover::after, .nav__link:focus::after {
    bottom: -8px;
    opacity: 1; }
  @media (max-width: 1024px) {
    .nav__link_top {
      font-size: 1.25rem; } }

.slider {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 200px 0 0;
  background: url(../images/slider/slide-img-1.jpg) no-repeat center;
  background-size: cover;
  width: 40vw;
  height: 80vh; }
  .slider__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 48px 48px;
    max-width: 360px; }
  .slider__switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .slider__btn {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer; }
    .slider__btn_left {
      background-image: url(../images/slider/arrow-left.svg);
      margin-right: 8px; }
    .slider__btn_right {
      background-image: url(../images/slider/arrow-right.svg); }
    .slider__btn:hover {
      border: 1px solid #ff9c8e; }
  .slider__info {
    margin-left: 24px;
    color: #fff; }
  .slider__heading {
    font-size: 0.65rem;
    font-weight: bold;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .slider__text {
    font-family: "Open Sans", sans-serif;
    font-size: 0.7rem;
    line-height: 140%; }
  @media (max-width: 1024px) {
    .slider {
      display: none; } }

.about-us {
  padding: 148px 20px; }
  .about-us__content {
    margin: 0 auto;
    width: 65%; }
  .about-us__heading {
    font-weight: 600;
    font-size: 1.6rem;
    color: #253757;
    margin-bottom: 16px; }
  .about-us__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: #6c788b; }

.approach {
  position: relative;
  padding: 204px;
  margin-left: 121px;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  background-color: #ff9c8e;
  border-radius: 200px 0 0 200px;
  color: #fff; }
  .approach__subtitle {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 0.65rem;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .approach__heading {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #253757;
    color: #fff; }
  .approach__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .approach__item:not(:last-child) {
    margin-bottom: 64px; }
  .approach__pic {
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: 34px;
    background-color: #fff;
    border-radius: 50%; }
  .approach__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 25px;
    height: 25px; }
  .approach__text {
    max-width: 255px;
    font-family: "OpenSans", sans-serif;
    font-size: 0.75rem; }
  .approach__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
    height: 70%;
    border-top-left-radius: 200px; }

.components {
  position: relative;
  padding: 200px 20px;
  background-color: #fff; }
  .components__wrapper {
    width: 40%;
    text-align: center; }
  .components__heading {
    font-weight: 600;
    font-size: 2.6rem;
    color: #253757;
    text-align: center;
    margin-bottom: 24px; }
  .components__text {
    margin-bottom: 64px;
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 150%;
    color: #6c788b; }

.item-small {
  position: absolute;
  width: 50px;
  height: 16.66667px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 1px solid #56ccf2;
  background-color: transparent;
  opacity: 0.5; }

.item-small:nth-of-type(1) {
  top: 10%;
  left: 30%; }

.item-small:nth-of-type(2) {
  bottom: 30%;
  left: 35%; }

.item-small:nth-of-type(3) {
  top: 50%;
  right: 5%; }

.item-small:nth-of-type(4) {
  bottom: 15%;
  right: 35%; }

.item-medium {
  position: absolute;
  width: 100px;
  height: 33.33333px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 2px solid #fcc91d;
  background-color: transparent;
  opacity: 0.5; }

.item-medium:nth-of-type(5) {
  top: 15%;
  left: 20%; }

.item-medium:nth-of-type(6) {
  bottom: 15%;
  left: 15%; }

.item-medium:nth-of-type(7) {
  top: 20%;
  right: 10%; }

.item-medium:nth-of-type(8) {
  top: 50%;
  right: 25%; }

.item-large {
  position: absolute;
  width: 150px;
  height: 50px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 3px solid #15d850;
  background-color: transparent;
  opacity: 0.5; }

.item-large:nth-of-type(9) {
  top: 25%;
  right: 15%; }

.item-large:nth-of-type(10) {
  bottom: 25%;
  right: 10%; }

.item-large:nth-of-type(11) {
  top: 40%;
  left: 20%; }

.expertise {
  padding: 148px 20px;
  background-color: #fff; }
  .expertise__heading {
    font-weight: 600;
    font-size: 2.6rem;
    color: #253757;
    text-align: center; }
  .expertise__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 64px; }
  .expertise__item {
    -ms-flex-preferred-size: 265px;
        flex-basis: 265px;
    text-align: center;
    cursor: pointer; }
  .expertise__img {
    max-width: 166px;
    margin-bottom: 40px;
    border-radius: 24px; }
  .expertise__title {
    margin-bottom: 16px;
    color: #253757;
    line-height: 140%; }
  .expertise__text {
    font-size: 0.7rem;
    line-height: 150%;
    color: #6c788b; }

.process {
  padding: 230px 20px 0; }
  .process__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .process__desc {
    -ms-flex-preferred-size: 36%;
        flex-basis: 36%; }
  .process__subtitle {
    margin-bottom: 16px;
    color: #c0cdd7;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .process__heading {
    font-weight: 600;
    font-size: 1.6rem;
    color: #253757;
    margin-bottom: 24px;
    line-height: 130%; }
  .process__text {
    font-family: "OpenSans", sans-serif;
    color: #6c788b;
    font-size: 0.7rem;
    line-height: 150%; }
  .process__text:last-child {
    margin-top: 20px; }
  .process__list {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%; }

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .card-list__item {
    width: 265px;
    margin: 15px;
    padding: 32px;
    border-radius: 24px;
    background-color: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    z-index: 5; }
  .card-list__item:nth-child(odd) {
    -webkit-transform: translateY(50px);
            transform: translateY(50px); }
  .card-list__item:nth-child(even) {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px); }
  .card-list__count {
    padding: 0 8px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 24px;
    border-radius: 23px;
    font-size: 0.65rem;
    font-weight: bold;
    line-height: 19px; }
  .card-list__text {
    color: #6c788b;
    font-family: "OpenSans", sans-serif;
    font-size: 0.65rem;
    line-height: 150%;
    font-weight: bold; }
    .card-list__text:last-child {
      margin-bottom: 32px; }
  .card-list__link {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: url("../images/process/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    -webkit-transition: width 0.3s, background-image 0.3s;
    transition: width 0.3s, background-image 0.3s; }
    .card-list__link::after {
      content: "Learn more";
      position: absolute;
      left: 60px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 250%;
      font-size: 0.75rem;
      color: #253757;
      font-weight: bold;
      z-index: 1;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
  .card-list__link:hover, .card-list__link:focus {
    width: 100%;
    background-image: none; }
  .card-list__link:hover::after, .card-list__link:focus::after {
    color: #fff; }
  .card-list__item:nth-child(1) .card-list__count {
    color: #56ccf2;
    background-color: rgba(86, 204, 242, 0.1); }
  .card-list__item:nth-child(1) .card-list__link {
    background-color: #56ccf2; }
  .card-list__item:nth-child(2) .card-list__count {
    color: #fcc91d;
    background-color: rgba(252, 201, 29, 0.1); }
  .card-list__item:nth-child(2) .card-list__link {
    background-color: #fcc91d; }
  .card-list__item:nth-child(3) .card-list__count {
    color: #15d850;
    background-color: rgba(21, 216, 80, 0.1); }
  .card-list__item:nth-child(3) .card-list__link {
    background-color: #15d850; }
  .card-list__item:nth-child(4) .card-list__count {
    color: #f36363;
    background-color: rgba(243, 99, 99, 0.1); }
  .card-list__item:nth-child(4) .card-list__link {
    background-color: #f36363; }

.testimonials {
  padding: 148px 20px; }
  .testimonials__subtitle {
    margin-bottom: 16px;
    color: #c0cdd7;
    font-weight: bold;
    font-size: 0.65rem;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .testimonials__heading {
    font-weight: 600;
    font-size: 1.6rem;
    color: #253757;
    margin-bottom: 85px; }
  .testimonials__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .testimonials__item {
    width: 315px;
    padding: 32px;
    background-color: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    text-align: center; }
  .testimonials__img-wrapper {
    position: relative;
    z-index: 10; }
  .testimonials__img {
    width: 140px;
    height: 140px;
    margin: 82px 0;
    border-radius: 50%; }
  .testimonials__img-shape {
    position: absolute;
    top: 50%;
    width: 139px;
    height: 56px;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    z-index: -1; }
  .testimonials__img-shape:first-child {
    top: 80px;
    left: 0; }
  .testimonials__img-shape:last-child {
    top: 160px;
    right: 0; }
  .testimonials__item:nth-child(1) .testimonials__img-shape {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
  .testimonials__item:nth-child(2) .testimonials__img-shape {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
  .testimonials__item:nth-child(3) .testimonials__img-shape {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
  .testimonials__quotes {
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 11px; }
  .testimonials__text {
    margin-bottom: 16px;
    color: #6c788b;
    font-family: "OpenSans", sans-serif;
    font-size: 0.65rem; }
  .testimonials__name {
    margin-bottom: 5px;
    color: #253757;
    font-family: "OpenSans", sans-serif;
    font-size: 0.65rem;
    font-weight: bold; }
  .testimonials__position {
    color: #c0cdd7;
    font-weight: bold;
    font-size: 0.65rem;
    letter-spacing: 3px;
    text-transform: uppercase; }

.footer {
  background-color: #fff; }
  .footer__feedback {
    padding: 180px 20px 200px;
    border-top-right-radius: 200px;
    background-color: #008aff;
    color: #fff; }
  .footer__wrapper {
    position: relative;
    height: 100%; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
  .footer__subsection-heading {
    font-weight: 600;
    font-size: 1.6rem;
    color: #253757;
    margin-bottom: 56px;
    color: #fff; }
  .footer__nav {
    position: absolute;
    bottom: -150px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .contact-form__input:not(:last-of-type) {
    margin-bottom: 48px; }
  .contact-form__button {
    margin-top: 80px; }

.form-input {
  padding-bottom: 17px;
  border-bottom: 1px solid white;
  background-color: transparent;
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff; }
  .form-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7); }
  .form-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7); }
  .form-input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7); }
  .form-input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7); }
  .form-input::placeholder {
    color: rgba(255, 255, 255, 0.7); }
  .form-input:active, .form-input:focus {
    padding-bottom: 16px;
    border-bottom: 2px solid white; }

.contact-list__title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 0.65rem;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase; }

.contact-list__link {
  display: inline-block;
  margin-bottom: 48px;
  font-size: 1.2rem; }

.socials-list {
  margin-top: 20px; }
  .socials-list__item {
    cursor: pointer; }
  .socials-list__item:not(:last-child) {
    margin-right: 45px; }
  .socials-list__icon {
    width: 24px;
    height: 24px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .socials-list__item:hover .socials-list__icon,
  .socials-list__item:focus .socials-list__icon {
    opacity: 0.5; }

/*# sourceMappingURL=main.css.map */
